/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7/07/2014, 08:35:16 AM
    Author     : Diego Martínez AKA Huron
*/
body {
    margin: 0;
    background-color: #333;
    color: #fff;
}